<!-- <div class="tree"></div> -->
<div class="container tree">
  <div class="row d-flex justify-content-center">
    <div class="col-12 logo-container">
      <img
        class="logo"
        src="https://wec-chef-bucket.s3.us-west-2.amazonaws.com/newlogo.svg"
      />
      <div class="row">
        <div class="wrapper">
          <div class="parenthesis">(</div>
          <div class="col-12 ticker">
            <app-marquee>
              <span *ngFor="let name of chefNames"> {{ name }} •</span>
            </app-marquee>
          </div>
          <div class="parenthesis">)</div>
        </div>
      </div>
      <div class="socials-row">
        <a
          href="https://open.spotify.com/artist/16FlDvM71NrgKA1Rdx1Afq?si=8f4547f8bfa74206"
          ><i class="bi bi-spotify first"></i
        ></a>
        <a href="https://music.apple.com/us/artist/c-h-e-f/1694433155">
          <i class="bi bi-music-note-beamed second"></i>
        </a>
        <a href="https://www.youtube.com/@CHEFtube">
          <i class="bi bi-youtube third"></i>
        </a>
        <a href="https://www.instagram.com/bandcalledchef">
          <i class="bi bi-instagram fourth"></i>
        </a>
        <a href="mailto:CHEFbandbooking@gmail.com">
          <i class="bi bi-envelope fifth"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="menu">
    <div
      (click)="onClick('shows', 80)"
      class="menu-item"
      [ngClass]="{ active: scrollZone === 0 }"
    >
      Shows!
    </div>
    <div
      (click)="onClick('music', 80)"
      class="menu-item"
      [ngClass]="{ active: scrollZone === 1 }"
    >
      Music!
    </div>
    <a
      [routerLink]="['/merch']"
      class="menu-item"
      [ngClass]="{ active: scrollZone === 2 }"
    >
      Merch!
    </a>
    <!-- <div class="menu-item">Samples!</div> -->
  </div>

  <div
    id="shows"
    class="poster-container first"
    style="transform: rotate(1deg); margin-bottom: 100px"
  >
    <img
      class="poster"
      src="https://wec-chef-bucket.s3.us-west-2.amazonaws.com/upcoming.jpeg"
    />
    <div class="post-it">
      <img
        class="ticket"
        src="https://wec-chef-bucket.s3.us-west-2.amazonaws.com/tickets.png"
      />
      <!-- <div class="label">Tickets</div> -->
    </div>
  </div>

  <div
    id="music"
    class="poster-container long"
    style="transform: rotate(-0.5deg); margin-bottom: 50px"
  >
    <div class="header permanent-marker-regular">
      <div class="label">Fresh Beats!</div>
    </div>
    <app-jukebox [compact]="true"></app-jukebox>
  </div>
  <div
    id="merch"
    class="poster-container merch"
    style="transform: rotate(0.5deg); margin-bottom: 65px"
  >
    <div class="header alt anta">
      <div class="label">-NEW MERCH-</div>
    </div>
    <div class="merch-carousel">
      <div (click)="moveCarousel(-1)" class="col-1 left-arrow">
        <i class="bi bi-caret-left-fill"></i>
      </div>
      <div class="col-10 img-wrapper">
        <img
          *ngFor="let link of merchLinks; index as i"
          [ngClass]="{
            'slide-in-left-short': slideIn,
            'slide-out-right-short': slideOut
          }"
          [src]="link"
          [style.display]="i === carouselPosition ? 'block' : 'none'"
        />
      </div>
      <div (click)="moveCarousel(1)" class="col-1 right-arrow">
        <i class="bi bi-caret-right-fill"></i>
      </div>
    </div>
  </div>

  <div class="filler"></div>
</div>
