<div class="col-12">
  <div class="jukebox">
    <div class="screen">
      <div
        class="art"
        [ngClass]="{ 'slide-in-left': slideIn, 'slide-out-right': slideOut }"
      >
        <img [src]="selectedSong.albumArtUrl" alt="Album cover" />
      </div>
    </div>
    <div class="screen-drop-shadow"></div>
    <div class="row">
      <div class="col-5 song-select d-flex justify-content-center">
        <ng-container *ngFor="let song of leftSongs">
          <button class="song" (click)="selectSong($event, song)">
            <div class="label">{{ song.name }}</div>
          </button>
        </ng-container>
      </div>
      <div class="col-2 play-button">
        <iframe
          [src]="getSourceUrl(selectedSong)"
          width="400px"
          height="400px"
          frameBorder="0"
          allowfullscreen=""
          scrolling="no"
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
      <div class="col-5 song-select d-flex justify-content-center">
        <ng-container *ngFor="let song of rightSongs">
          <button
            [disabled]="song.name === '' || song.name === 'Coming Soon'"
            class="song"
            (click)="selectSong($event, song)"
          >
            <div class="label">{{ song.name }}</div>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
