$silver: rgb(171, 194, 208);
$black: #000;
$neon-orange: rgb(248, 170, 65);
$speaker-grill-silver: #aac6d6;
.compact {
  width: 280px;
  .jukebox {
    height: 475px;
  }
}
.jukebox {
  margin-top: 10px;
  height: 680px;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  padding-bottom: 0;
  background-color: $neon-orange;
  padding-top: 30px;
  position: relative;
  border: 3px solid #000;
  border-bottom: none;
  box-shadow: 0 6px #000;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;

  .rings {
    position: absolute;
    left: -13px;
    top: 255px;
    width: fit-content;

    &.right {
      right: 52px;
      left: auto;
      width: 0;
    }
    .leg {
      height: 122px;
      margin-left: 5px;
      width: 55px;
      background-color: #744235;
      border: 3px solid #000;
    }
    .ring {
      margin-bottom: 3px;
      border: 3px solid #000;

      height: 15px;
      width: 65px;
      border-radius: 5px;
      background: $silver;
      &.last {
        margin-top: 250px;
        margin-bottom: 0;
      }
    }
    &.compact {
      &.right {
        right: 40px;
      }
      .ring {
        width: 53px;
        &.last {
          margin-top: 55px;
        }
      }
      .leg {
        width: 43px;
      }
    }
  }
  .inner {
    border: 3px solid #000;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    height: 100%;
    width: 90%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(193 85 36);
  }
  .screen {
    height: 200px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid $silver;
    outline: 3px solid $black;
    box-shadow: 0 6px #000;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    background-color: #666;
    overflow: hidden;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);

    &.compact {
      height: 120px;
      .art {
        height: 75px;
        width: 75px;
        margin-top: 10px;
        border-radius: 50%;
        img {
          border-radius: 50%;
        }
        .record-center {
          height: 25px;
          width: 25px;
          background: white;
          border-radius: 50%;
          position: absolute;
          top: 25px;
          z-index: 999;
          margin-left: auto;
          left: 25px;
          text-align: center;
          font-size: 28px;
          line-height: 7px;
        }
      }
    }
    .art {
      height: 125px;
      width: 125px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

      img {
        z-index: 1;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        height: 100%;
        width: 100%;
      }
    }
  }
  .screen-drop-shadow {
    height: 2px;
    width: 100%;
    // background: $black;
    margin-left: auto;
    margin-right: auto;
  }

  .decoration {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    padding: 0;

    .oval-short {
      height: 5px;
      width: 50%;
      background-color: #000;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      margin-top: 2px;
    }
    .oval-long {
      height: 5px;
      width: 65%;
      background-color: #000;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      margin-top: 2px;
    }

    &.right {
      .oval-long,
      .oval-short {
        margin-left: 5px;
        margin-right: auto;
      }
    }
    &.left {
      .oval-long,
      .oval-short {
        margin-left: auto;
        margin-right: 5px;
      }
    }
  }

  @media (min-width: 576px) {
    iframe {
      margin-left: -343px !important;
      margin-top: -283px !important;
    }
  }
  .play-button {
    filter: drop-shadow(0px 0px 9px #ffff00);
    height: 46px;
    width: 46px;
    border-radius: 42px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 2px solid #000;
    box-shadow: 0 4px #000;
    iframe {
      margin-left: -341px;
      margin-top: -281px;
    }
  }
  .songs {
    margin-left: 10px;
    margin-right: 10px;
  }
  .song-select {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    &.left {
      margin-left: 10px;
    }
    &.right {
      margin-right: 10px;
    }
    .song {
      margin-bottom: 10px;
      height: 30px;
      width: 100%;
      border: 2px solid #000;
      box-shadow: 0 4px #000;
      background: #fff;
      overflow: hidden;
      cursor: pointer;
      padding-left: 0;
      padding-right: 0;
      &:active {
        height: 28px;
        margin-top: 2px;
        border-bottom: 1px solid #000;
      }
      &:focus {
        background-color: #fff;
      }
      &:hover {
        background-color: #ddd;
      }
      &:disabled {
        pointer-events: none;
        cursor: default;
      }
      .label {
        white-space: nowrap;
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: $black !important;
      }
    }
  }

  .speaker-top {
    margin-top: 10px;
    height: 20px;
    background-color: $speaker-grill-silver;
    width: 60%;
    outline: 3px solid $black;

    &.compact {
      height: 10px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  .speaker {
    height: 225px;
    width: 60%;
    background-color: #4f606e;
    border: 35px solid $neon-orange;
    border-top: none;
    outline: 3px solid $black;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 0 6px #000;

    &.compact {
      height: 55px;
      border: 15px solid $neon-orange;
      border-top: none;
    }

    .inner-speaker {
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      //   border: 3px solid $black;
      border-top: none;
      overflow: hidden;
      box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.8);

      .grill {
        height: 5px;
        width: 770px;
        transform: rotate(60deg);
        background-color: $speaker-grill-silver;
        margin-top: 40px;
        margin-left: -200px;
        &.right {
          transform: rotate(-60deg);
          margin-top: -60px;
          margin-left: -360px;
        }
      }
    }
  }
}
